@page "/Chat2/{col}"
@using BlazorServer.Data
@using MongoDB.Driver
@using MongoDB.Bson
@using MongoDB.Bson.Serialization.Attributes
@using BlazorServer
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.SignalR.Client



@inject IHttpContextAccessor httpContextAccessor
@inject NavigationManager NM


<h1>Chatte mit @col.Split(' ')[0].Trim()</h1>
<div class="Nachrichtenbox">
  <div class="NachrichtenScrollBox">
    <div>
      @foreach (var message in Chats)       //Der angeklickte Chat wird geladen
      {
        if (message.SourceUserName == UserName)
        {
          <div style="width:100%">
            <div class="Nachrichten" style="float:right; clear:right ; margin-left:55%">
              <p>
                @message.Content
              </p>
              <footer>@SendTime(message.SendTime);</footer>
            </div>
          </div>
        }
        if (message.TargetUserName == UserName)
        {
          <div style="width:100% ">
            <div class="Nachrichten" style="float:left;clear:left ; margin-right:55%">
              <p>
                @message.Content

              </p>
              <footer>@SendTime(message.SendTime);</footer>
            </div>
          </div>
        }
      }
    </div>
  </div>
  <div class="Chats">
    @foreach (string col in CollectionNames)                              //Die collections bzw chats in den der User was verloren hat, werden geladen.
    {
      if (col.EndsWith(UserName))                                        //Ich bin Käufer
      {
        var recs2 = dbChat.LoadRecords<Chatten>(col);

        Trimmed = col.Split(' ')[0].Trim();

    <div class="SingleChat" @onclick="@(e => SingleChatClick(col))" @oncontextmenu="((e) => ContextMenu.ShowAsync(e))" @oncontextmenu:preventDefault>
      @foreach (var rec2 in recs2)
      {
        if (!rec2.Gesehen && rec2.TargetUserName == UserName)
        {
          <div style="background-color: blue; border-radius: 50%; height: 20px; width: 20px; float: right; margin-top:5px; margin-right:5px;"></div>
          break;
        }
      }
      <p>@Trimmed</p>
    </div>
        <DxContextMenu @ref="@ContextMenu" ItemClick="@(e => DeleteChat(col))">
          <Items>
            <DxContextMenuItem Text="Delete"></DxContextMenuItem>
          </Items>
        </DxContextMenu>
      }
    }
  </div>
  <input class="Chatinput" rows="5" @bind="sNewMessage" @onkeyup="@SendWithEnter" />
  <button class="buttn" @onclick="Send2">Send</button>
</div>

@code {
  DxContextMenu ContextMenu { get; set; }

  public string UserName;
  public string Trimmed;
  public string col2;
  private string sNewMessage = "";

  [Parameter]
  public string col { get; set; }
  private DateTime SendingTime = DateTime.UtcNow;
  private HubConnection hubConnection;

  private List<CardinfoItem> Cardinfos = new();
  private List<Chatten> Chats = new();
  private List<string> CollectionNames = new();


  MongoCRUD db = new MongoCRUD("Yugioh1");
  MongoCRUD dbChat = new MongoCRUD("Chats");

  protected override void OnInitialized()
  {
    UserName = httpContextAccessor.HttpContext.User.Identity.Name;      //UserName wird Initialisiert

    col2 = col.Split(' ')[1].Trim() + " " + col.Split(' ')[0].Trim();

    var recs = db.LoadRecords<CardinfoItem>("CardsToSell");
    foreach (var rec in recs)
    {
      Cardinfos.Add(new CardinfoItem
      {
        Id = rec.Id,
        Verkäufer = rec.Verkäufer,
        Available = rec.Available,
        CardName = rec.CardName,
        Price = rec.Price,
        Editionnumber = rec.Editionnumber,
        Rarity = rec.Rarity,
        Zustand = rec.Zustand,
      });
    }

    var recs2 = dbChat.LoadRecords<Chatten>(col);
    foreach (var rec2 in recs2)
    {
      Chats.Add(new Chatten
      {
        SourceUserName = rec2.SourceUserName,
        TargetUserName = rec2.TargetUserName,
        Content = rec2.Content,
        SendTime = rec2.SendTime,
        Gesehen = rec2.Gesehen
      });
    }

    var client = new MongoClient("mongodb://localhost/");   //Host und Port

    var server = client.GetServer();
    var database = server.GetDatabase("Chats");
    foreach (var coll in database.GetCollectionNames())     //Collections werden durchsucht
    {
      if (coll.Contains(UserName))                          //Wenn Collection den Username beinhaltet, kommt der Chat in die Liste CollectionNames
      {
        CollectionNames.Add(coll);
      }
    }
  }

  protected override async Task OnInitializedAsync()
  {
    UserName = httpContextAccessor.HttpContext.User.Identity.Name;      //UserName wird Initialisiert

    hubConnection = new HubConnectionBuilder()
    .WithUrl(NM.ToAbsoluteUri("/chathub"))
    .Build();

    var recs2 = dbChat.LoadRecords<Chatten>(col);
    foreach (var rec2 in recs2)
    {
      Chats.Add(new Chatten
      {
        SourceUserName = rec2.SourceUserName,
        TargetUserName = rec2.TargetUserName,
        Content = rec2.Content,
        SendTime = rec2.SendTime,
        Gesehen = rec2.Gesehen
      });
      Gesehen(col, col2, rec2.Id);
    }

    hubConnection.On<string, string, string, DateTime>("ReceiveMessage", (user, user2, message, time) =>
    {
      Chats.Add(new Chatten
      {
        SourceUserName = user,
        TargetUserName = user2,
        Content = message,
        SendTime = time,
        //Gesehen = rec2.Gesehen
      });

      StateHasChanged();
    });

    await hubConnection.StartAsync();
  }

  async Task Send2()
  {
    if (!string.IsNullOrWhiteSpace(sNewMessage))
    {
      await hubConnection.SendAsync("SendMessage", UserName, col.Split(' ')[0].Trim(), sNewMessage, SendingTime);       //Gesendetes Material

      DateTime timeUtc = DateTime.UtcNow;              //Zeit wird immer 2 Stunden früher in die Datenbank geschrieben

      dbChat.InsertRecord2(col, col2, new Chatten { SourceUserName = UserName, TargetUserName = col.Split(' ')[0].Trim(), Content = sNewMessage, SendTime = timeUtc, Gesehen = false });    //Eintrag in die Datenbank
      sNewMessage = string.Empty;
    }
  }
  public bool IsConnected =>
      hubConnection.State == HubConnectionState.Connected;    //Connection für die Liveübertragung

  public async ValueTask DisposeAsync()
  {
    if (hubConnection is not null)
    {
      await hubConnection.DisposeAsync();
    }
  }

  protected async void SendWithEnter(KeyboardEventArgs e)       //Mit Enter die Nachricht versenden
  {
    if (e.Code == "Enter" || e.Code == "NumpadEnter")
    {
      await Send2();
    }
  }

  private void SingleChatClick(string col)         //Click Event um zum Chat zu Gelangen
  {
    NM.NavigateTo($"Chat2/{col}");
    Chats.Clear();

    var recs2 = dbChat.LoadRecords<Chatten>(col);
    foreach (var rec2 in recs2)
    {
      Chats.Add(new Chatten
      {
        SourceUserName = rec2.SourceUserName,
        TargetUserName = rec2.TargetUserName,
        Content = rec2.Content,
        SendTime = rec2.SendTime,
        Gesehen = rec2.Gesehen
      });
      Gesehen(col, col2, rec2.Id);
    }

  }

  public void Gesehen(string col, string col2, Guid id)   //Datenbank Gesehen == True
  {
    dbChat.UpdateRecord<Chatten>(col, col2, id);
  }

  private void DeleteChat(string col)           //Chatverlauf löschen
  {
    dbChat.DeleteCollection<Chatten>(col);
  }

  private string SendTime(DateTime SendTime)    //Funktion für die Sendezeit
  {
    string sSendTime;

    var Europe = TimeZoneInfo.FindSystemTimeZoneById("Central European Standard Time");
    if (SendTime != DateTime.Now)
    {

      var today = TimeZoneInfo.ConvertTimeFromUtc(SendTime, Europe);


      if (today.Date == DateTime.Today.Date)    //Wenn die Nachricht Heute verschickt wurde
      {
        sSendTime = today.ToString().Split(' ')[1].Trim();
      }
      else
      {
        sSendTime = today.ToString().Split(' ')[0].Trim();
      }

      return sSendTime;
    }
    sSendTime = SendTime.ToString();
    return sSendTime;
  }
}
